# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/
ENV/
env.bak/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Project folders
uploads/
processed/

# Log or temp
*.log
*.tmp

# Ignore compiled files or outputs
*.so
*.out
*.o